.complete {
    text-decoration: line-through;
    opacity: 0.3;
}

.disable {
    display: none;
}

table {
    width: 800px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 50px;
}

td,
tr {
    border: 1px solid black;
}