.headerContainer {
    width: 800px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 30px;

    h1 {
        text-align: center;
    }

    input {
        outline: none;
        width: 80%;
        padding: 10px;
    }

    .addButton {
        width: 100px;
        padding: 10px;
        margin-left: 20px;
        border: none;
        border-radius: 5px;
    }
}